@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --font-family: "Noto Sans", sans-serif;
  --blue: #365fa3;
  --black-text: #0f0f0f;
  --minty-green: #38d69e;
  --white: #ffffff;
}
body {
  font-family: var(--font-family);
  overflow-x: hidden;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px 130px;
}
.demo-banner {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  background: #ffcc00;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-wrapper{
  display: flex;
  align-items: center;
  gap: 5px;
}
.brand-wrapper h4{
  color: var(--blue);
  font-weight: 700;
  font-size: 20px;
}
ul{
  display: flex;
  gap: 30px;
  font-weight: 600;
  font-size: 28px;
}
ul li{
  color: var(--black-text);
}
nav button{
  background-color: var(--minty-green);
  color: var(--white);
  padding: 9px 25px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  border: none;
}